{% extends "base.html" %}

{% block content %}
<h1>Records</h1>
<table id="recordsTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
    </thead>
</table>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#recordsTable').DataTable({
        ajax: {
            url: "{{ url_for('main.api_records') }}",
            dataSrc: ''
        },
        columns: [
            { data: 'name' },
            { data: 'date' }
        ],
        order: [[1, 'desc']]
    });
});
</script>
{% endblock %}